In [3]:
import pandas as pd
print(pd.__version__)

1.1.1

# Q2

# import numpy as np
l=list(range(1,5))
a=np.arange(1,9)
dt={'a':0,'b':1,'c':2}
s1=pd.Series(l,index=[0,1,2,3])
s2=pd.Series(a)
s3=pd.Series(dt)
print(s1)
print(s2)
print(s3)

# Q3

In [9]:
s1.to_frame()

   0
0  1
1  2
2  3
3  4

# Q4