In [7]:
import pandas as pd
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : f2ca0a2665b2d169c97de87b8e778dbed86aea07
python           : 3.8.5.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-45-generic
Version          : #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_IN
LOCALE           : en_IN.ISO8859-1

pandas,           : 1.1.1
numpy            : 1.19.1
pytz             : 2020.1
dateutil         : 2.8.1
pip              : 20.2.2
setuptools       : 49.6.0.post20200814
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.17.0
pandas_datareader: None
bs4              : None
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.1
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
pyxlsb           : None
s3fs             : None
scipy            : 1.5.2
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

In [9]:
print(pd.__version__)

1.1.1

In [10]:
import numpy as np
l=list(range(1,5))
a=np.arange(1,9,2)
d={'a':0,'b':1,'c':2}
s1=pd.Series(l,index=[100,101,102,103])
s2=pd.Series(a)
s3=pd.Series(d)
print(s1)
print(s2)
print(s3)

100    1
101    2
102    3
103    4
dtype: int64
0    1
1    3
2    5
3    7
dtype: int64
a    0
b    1
c    2
dtype: int64

# Q3

# Qn 3

In [11]:
s1.to_frame()

     0
100  1
101  2
102  3
103  4

# Qn 4

In [12]:
a_series=pd.Series(['abc','def','ghi'])
b_series=pd.Series([1,2,3,4,5])
df=pd.DataFrame()
df=pd.concat([a_series,b_series],axis=1)
df

     0  1
0  abc  1
1  def  2
2  ghi  3
3  NaN  4
4  NaN  5

# Qn 5

In [13]:
name=['Reshma','Shilpa','Nima']
n=pd.Series(name,index=['s1','s2','s3'])
n.index.name='S_no'
n

S_no
s1    Reshma
s2    Shilpa
s3      Nima
dtype: object

# Qn 6

In [14]:
srA=pd.Series([1,2,3,4,5,6])
srB=pd.Series([1,3,5,7])
res=srA[~srA.isin(srB)]
res

1    2
3    4
5    6
dtype: int64

# Qn 7

In [15]:
union=pd.Series(np.union1d(srA,srB))
intersect=pd.Series(np.intersect1d(srA,srB))
notcommon=union[~union.isin(intersect)]
notcommon

1    2
3    4
5    6
6    7
dtype: int64

# Qn 8

In [16]:
num=np.random.RandomState(100)
num_series=pd.Series(num.normal(10,4,20))
print(num_series)
result=np.percentile(num_series,q=[0,25,50,75,100])
print("Minimum, 25th percentile, median, 75th, Maximum:")
print(result)

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
Minimum, 25th percentile, median, 75th, Maximum:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

# Qn 9

In [17]:
city=pd.Series(['Kochi','Chennai','Delhi','Mumbai','Kochi','Chennai'])
city.value_counts()

Kochi      2
Chennai    2
Delhi      1
Mumbai     1
dtype: int64

# Qn 10

In [18]:
city=[~city.isin(city.value_counts().index[:2])]='other'
city.value_counts()

SyntaxError: cannot assign to operator (<ipython-input-18-b2ce8ae93854>, line 1)

In [19]:
city[~city.isin(city.value_counts().index[:2])]='Chennai'
city.value_counts()

Chennai    4
Kochi      2
dtype: int64

# Qn 11

In [22]:
pd.qcut(num_series,q=10)

0         (3.0, 5.701]
1      (11.16, 11.836]
2     (13.945, 14.612]
3       (8.224, 9.141]
4     (12.806, 13.945]
5     (11.836, 12.806]
6      (10.234, 11.16]
7       (5.701, 7.833]
8      (9.141, 10.234]
9      (10.234, 11.16]
10      (7.833, 8.224]
11     (11.16, 11.836]
12      (5.701, 7.833]
13    (12.806, 13.945]
14    (11.836, 12.806]
15     (9.141, 10.234]
16      (7.833, 8.224]
17    (13.945, 14.612]
18      (8.224, 9.141]
19        (3.0, 5.701]
dtype: category
Categories (10, interval[float64]): [(3.0, 5.701] < (5.701, 7.833] < (7.833, 8.224] < (8.224, 9.141] ... (11.16, 11.836] < (11.836, 12.806] < (12.806, 13.945] < (13.945, 14.612]]

In [21]:
matrix=pd.DataFrame(np.arange(1,10).reshape(3,3))
matrix

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# Qn 12

In [23]:
matrix=pd.DataFrame(np.arange(1,10).reshape(3,3))
matrix

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# Qn 13

In [24]:
sr1=pd.Series(np.random.randint(1,10,10))
print(sr1)
sr1.where(lambda x:x%3==0).dropna()

0    3
1    3
2    8
3    2
4    5
5    2
6    7
7    7
8    3
9    2
dtype: int64

0    3.0
1    3.0
8    3.0
dtype: float64

# Qn 14

In [25]:
pos=[0,3,6,7]
sr1.loc[pos]

0    3
3    2
6    7
7    7
dtype: int64

# Qn 15

In [26]:
srA.append(srB)
print("horizontal:\n",pd.concat([srA,srB],axis=0))
print("vertical:\n",pd.concat([srA,srB],axis=1))

horizontal:
 0    1
1    2
2    3
3    4
4    5
5    6
0    1
1    3
2    5
3    7
dtype: int64
vertical:
    0    1
0  1  1.0
1  2  3.0
2  3  5.0
3  4  7.0
4  5  NaN
5  6  NaN

# Qn 16

In [27]:
ls=list(srA[srA.isin(srB)].index)
ls

[0, 2, 4]