# Q1

In [36]:
import pandas as pd
print(pd.__version__)

1.1.1

# Q2

In [29]:
import numpy as np
l=list(range(1,15))
a=np.arange(1,9,2)
d={'a':6,'b':5,'c':2}
s1=pd.Series(l)
s2=pd.Series(d)
s3=pd.Series(a)
print(s1)
print(s2)
print(s3)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
dtype: int64
a    6
b    5
c    2
dtype: int64
0    1
1    3
2    5
3    7
dtype: int64

# q4

In [44]:
a_series = pd. Series(["a", "b", "c"])
another_series = pd. Series([1, 2, 3])
df=pd.DataFrame()
df = pd. concat([a_series, another_series], axis=1)
df

   0  1
0  a  1
1  b  2
2  c  3

# q5 redo

In [53]:
s3={'banana','apple','orange'}
s4=pd.Series(s3,index=['fruit1','fruit2','fruit3'])
s4.index.name= 'Fruits'
s4

TypeError: 'set' type is unordered

# q6

In [56]:
s5=pd.Series([1,4,6,9,2])
s6=pd.Series([9,12,4,6,3,0])
res=s5[ ~s5.isin(s6)]
res

0    1
4    2
dtype: int64

# q7

In [59]:
union = pd.Series(np.union1d(s5,s6))
intersect = pd.Series(np.intersect1d(s5,s6))
notcommon = union[~union.isin(intersect)]
notcommon

0     0
1     1
2     2
3     3
7    12
dtype: int64

# q8